
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Garante que o contêiner ocupe a altura total da viewport */
  background-color: #f0f2f5;
  font-family: 'Inter', sans-serif;
  color: #333;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #2c3e50;
  margin-bottom: 25px;
  font-size: 2.2em;
}

p {
  font-size: 1.1em;
  margin-top: 25px;
}